@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ywgyye');
  src:  url('fonts/icomoon.eot?ywgyye#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ywgyye') format('truetype'),
    url('fonts/icomoon.woff?ywgyye') format('woff'),
    url('fonts/icomoon.svg?ywgyye#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paypal:before {
  content: "\e907";
}
.icon-whatsapp:before {
  content: "\e900";
}
.icon-brand:before {
  content: "\e900";
}
.icon-social:before {
  content: "\e900";
}
.icon-share:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-brand2:before {
  content: "\e902";
}
.icon-tweet:before {
  content: "\e902";
}
.icon-social2:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-brand3:before {
  content: "\e903";
}
.icon-social3:before {
  content: "\e903";
}
.icon-mark-github:before {
  content: "\e906";
}
.icon-cc-mastercard:before {
  content: "\e904";
}
.icon-cc-visa:before {
  content: "\e905";
}

