*{
	padding: 0;
	margin: 0;
}

header{
	font-family: 'Quicksand', sans-serif;
	position: fixed;
	background-color: #941e80;
	display: fixed;
	width: 100%;
	height: 14%;
	z-index: 1;
}

nav{
	display: inline-block;
	position: relative;
	left: 34%;
  bottom: 61px;;
}

ul.menu>li{
	position: relative;
	list-style: none;
	display: inline-block;
	margin: 0px 20px;
}

.barra{
	text-decoration: none;
	color: white;
	font-size:24px;
	font-weight: bold;
}
.barra:hover{
	text-transform: uppercase;
	color:white;
	font-weight: bold;
}
.logo{
	text-decoration: none;
	position: relative;
	font-size: 74px;
	color: white;
	display: inline-block;
	left: 34px;
	top: 5px;
}

.titulo{
	position: relative;
	display: inline-block;
	text-align: center;
	bottom: 2.9em;
  left: 9.9em;
}

.titulo #nombre{
	font-family: 'Exo 2', sans-serif;
  color: white;
	font-weight: bold;
  text-decoration: none;
  font-size: 37px;
  position: relative;
  display: inline-block;
  bottom: 7px;
  right: 41px;
}

.fondo{
	width: 100%;
	height: 662px;
  background-repeat: no-repeat;
	}

.mensaje{
	display: inline-block;
	position: relative;
	text-align: justify;
	bottom: 418px;
	left: 28px;
	font-weight: 900
}

.mensaje p{
	font-family: 'Lobster Two', cursive;
  font-size: 56px;
  color: white;
  position: relative;
  text-align: justify;
	bottom: 45px;
  left: 5px;
  font-weight: 900;
}

button:hover{
	display: inline-block;
	position: relative;
	margin: 0px 27px;
	height: 49px;
	width: 200px;
	border-radius: 60px;
	background-color: #ffc400;

	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: black;
	font-size: 20px;}

button{
	display: inline-block;
	position: relative;
	margin: 0px 27px;
	height: 49px;
	width: 200px;
	border-radius: 60px;
	background-color: #941e80;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: white;
	font-size: 20px;
	bottom: 39px;
}
.botones{
	bottom: 355px;
	position: relative;
}
#nosotros{
	width: 100%;
	position: relative;
	display: inline-block;
	bottom: 350px;
	text-align: center;
	max-height: 285px;
}

#nosotros #texto{
	position: relative;
	display: inline-block;
	top: 106px;
	padding: 120px 62px 0 62px;
	font-family: 'Quicksand', sans-serif;
	font-size: 34px;
	font-weight: bold;
}
#texto h3{
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	padding-bottom: 40px;
	margin-top: -66px;
	color: #941e80
}

#texto-gallery{
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	color: #941e80;
	font-size: 38px;
	font-weight: bold;
	padding: 125px 60px 30px;
}

#texto p {
	text-align: center;
	padding: 5px;
	margin: 30px;
	font-size: 18px;
}

.form {
	position: relative;
}

form{
	display: inline-block;
	position: relative;
	left: 25px;
	height: 505px;
	width: 543px;
	padding-top: 24px;
	background-color:white;
	font-family: 'Quicksand', sans-serif;
}

textarea{
	display: inline-block;
	position: relative;
	left: 25px;
	font-family: 'Quicksand', sans-serif;
}

#contactanos{
	left: 21px;
	color: #941e80;
	font-weight: bold;
	text-decoration: none;
	font-size: 32px;
	position: relative;
	display: inline-block;
	bottom: 7px;
}

.sr-only{
	font-weight: bold;
}

.input-box{
	position: relative;
	margin: 21px;
}

.input-box span{
	position: relative;
	left: 86px;
}

.form-control{
	position: relative;
	left: 86px;
	height: 27px;
	width: 191px;
	border-radius: 8px;
	border: solid 1px #941e80;
	padding-left: 9px;
}

.input-box .form-email{
	position: relative ;
	height: 27px;
	width: 191px;
	left: 11px;
}

.input-box .form-mesage{
	position: relative;
	height: 132px;
	width: 312px;
	left: 149px;
	bottom: 18px;
	max-width:312px;
	max-height:132px;
}

.commits-container #mensaje{
	left: 475px;
	bottom: 98px;
}

.email-container #email{
	left: 356px;
	bottom: 23px;
}

#checkout{
	display: inline-block;
    left: 59px;
    top: 2px;
    position: relative;
}

.commits-container label{
	bottom: -12px;
}

#boton:hover {
    display: inline-block;
    position: relative;
    margin: 0px 27px;
    height: 49px;
    width: 200px;
    border-radius: 60px;
    background-color: #ffc400;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
	left: 116px;
}

#boton {
    display: inline-block;
    position: relative;
    margin: 0px 27px;
    height: 49px;
    width: 200px;
    border-radius: 60px;
    background-color: #941e80;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
	left: 116px;
}

.img-contact{
	position: absolute;
	display: inline-block;
	width: 850px;
	top: 12px;
	left: 782px;
	height: 535px;
}

#contacto{
	position: relative;
}

.box{
	width: 305px;
	height: 305px;
	border-radius: 50%;
	float: left;
	text-align: center;
	padding-top: 50px;
	margin: 22px;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition: all 1s ease;
}

h2{
	color: #777777;
	font-size: 26px;
	text-transform: uppercase;
}

h2:hover{
	color: #941e80;
	font-size: 26px;
	text-transform: uppercase;
}

.box:hover{
  padding-top: 20px;
  background-color: #fff;
  -webkit-transform:scale(1.1);
  color: black;
  -webkit-transition: all .0.5s ease-in-out;
}

p{
  text-align: center;
  margin: 28px;
  font-size: 15px;
  padding top: 0px:
}

div>span{
	color: #941e80;
	font-size: 38px;
	bottom: 9px;
	position: relative;
	display: inline-block;
}

a{
	text-decoration: none;
}


/* -- Gallery --*/

#container-gallery{
	text-align: center;
	width: 100%;
	position: relative;
}

#gallery{
	display: inline-block;
	top: 50px;
}

.cats{
	display: inline-block;
	margin: 0;
	left: 0;
	width: 350px;
	height: auto;
	padding: 10px;
}

#gallery div{
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	justify-content: center;
	margin: 20px;
}

img.cats{
	border-radius: 50%;
	transition: 2.5s;
}

img.cats:hover{
	opacity: 0.3;
	transform: scale(1.1);
	cursor: pointer;
	transition: 2s;
}

.adopt-me{
	padding: 5px;
	width: 250px;
	position: relative;
	bottom: 225px;
	z-index: -1;
	font-size: 30px;
	font-family: 'Quicksand', sans-serif;
}

.adopt-me:hover, .adopt-me:link, .adopt-me:visited{
	cursor: pointer;
	color: #941e80;
}

.adopt-me:hover{
	z-index: 1;
}

.span-catname{
	font-size: 18px;
	color: #941e80;
	font-family: 'Quicksand', sans-serif;
	font-weight: bolder;
}

/* -- Mooal -- */

#modal{
	color: #941e80;
	position: fixed;
	width: 500px;
	height: 300px;
	bottom: 29%;
	right: 30%;
	background: white;
	padding: 10px;
	font-family: 'Roboto', serif;
	display: none;
}

#modal>h3{
	font-size: 25px;
}

#social-modal>a{
	text-decoration: none;
}

hr{
	background-color: #941e80;
	width: 470px;
	border: none;
	height: 1px;
}

#close{
	position: absolute;
	top: 0px;
	right: 10px;
	cursor: pointer;
}

.social-icon{
	font-size: 80px;
	border-radius: 50%;
	background-color: white;
	border: 3px solid #941e80;
	display: inline-block;
	padding: 13px;
	margin: 10px 15px;
	position: relative;
	top: 60px;
	left: 25px;
}

a.social-icon:visited, a.social-icon:link, a.social-icon:active{
	color: #941e80;
}