*{
	padding: 0;
	margin: 0;
}

header{
	font-family: 'Quicksand', sans-serif;
	position: fixed;
	background-color: #941e80;
	display: fixed;
	width: 100%;
	height: 14%;
	z-index: 1;
}

nav{
	display: inline-block;
	position: relative;
	left: 34%;
  bottom: 61px;;
}

ul.menu>li{
	position: relative;
	list-style: none;
	display: inline-block;
	margin: 0px 20px;
}

.barra{
	text-decoration: none;
	color: white;
	font-size:24px;
	font-weight: bold;
}
.barra:hover{
	text-transform: uppercase;
	color:white;
	font-weight: bold;
}
.logo{
	text-decoration: none;
	position: relative;
	font-size: 74px;
	color: white;
	display:inline-block;
	left: 34px;
	top: 5px;
}
.titulo{
	position: relative;
	display: inline-block;
	text-align: center;
	bottom: 2.9em;
  left: 9.9em;
}
.titulo #nombre{
	font-family: 'Exo 2', sans-serif;
  color: white;
	font-weight: bold;
  text-decoration: none;
  font-size: 37px;
  position: relative;
  display: inline-block;
  bottom: 7px;
  right: 41px;
}
#fondo{
	width: 100%;
	height: 41.7em;
  background-repeat: no-repeat;
	filter: saturate(3);
	}
.mensaje{
	display: inline-block;
	position: relative;
}
.mensaje p{
	font-family: 'Lobster Two', cursive;
	font-size: 46px;
  color: white;
  position: relative;
  text-align: justify;
  bottom: 10em;
  left: 63px;
	font-weight: 900;
}

button:hover{
	display: inline-block;
	position: relative;
	margin: 0px 27px;
	height: 39px;
	width: 200px;
	border-radius: 8%;
	background-color: #ffc400;
	border-bottom-color: black;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: black;
	font-size: 20px;}

button{
	display: inline-block;
	position: relative;
	margin: 0px 27px;
	height: 39px;
	width: 200px;
	border-radius: 8%;
	background-color: #941e80;
	border-bottom-color: black;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: white;
	font-size: 20px;
}
.botones{
	bottom: 265px;
	position: relative;
}
